---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---
<body>
<h1>\STUFF THIS NONSENSE AGAIN</h1>

{% set postslist = collections.myPosts %}
{% include "postslist.njk" %}

<p>This ends up in a subdirectory called index2 wth the file called index. How??
More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
</body>
